{% extends('base.html.twig')%}

{% block body %}

    <h1>Céer un nouvel article</h1>

    {{ form_start(form,{path('newArticle'), 'method': 'POST' }) }}

    {{ include('forms/formNewArticle.html.twig') }}

    {{ form_end(form) }}

{% endblock %}