{% extends('base.html.twig')%}

{% block body %}

    <h1>Céer un nouvel article</h1>

    {{ form_start(formNewArticle ,{'action': path('newArticle'), 'method': 'POST' }) }}

    {%  if error is defined %}
        {{ error }}
    {% endif %}

    {{ form_widget(formNewArticle)}}

    {{ form_end(formNewArticle) }}

{% endblock %}